In [36]:
# Import the library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
#read the dataset
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

In [38]:
df_train.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0,121.0,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.0,121.0,1369,4

In [39]:
df_test.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,age,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq
0,ID_2f6873615,NaN,0,5,0,1,1,0,NaN,1,...,4,0,16,9,0,1,2.25,0.25,272.25,16
1,ID_1c78846d2,NaN,0,5,0,1,1,0,NaN,1,...,41,256,1681,9,0,1,2.25,0.25,272.25,1681
2,ID_e5442cf6a,NaN,0,5,0,1,1,0,NaN,1,...,41,289,1681,9,0,1,2.25,0.25,272.25,1681
3,ID_a8db26a79,NaN,0,14,0,1,1,1,1.0,0,...,59,256,3481,1,256,0,1.00,0.00,256.00,3481
4,ID_a62966799,175000.0,0,4,0,1,1,1,1.0,0,...,18,121,324,1,0,1,0.25,64.00,NaN,324

## Target is the output variable

## Understand the type of data.

In [40]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Columns: 143 entries, Id to Target
dtypes: float64(8), int64(130), object(5)
memory usage: 10.4+ MB

In [41]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23856 entries, 0 to 23855
Columns: 142 entries, Id to agesq
dtypes: float64(8), int64(129), object(5)
memory usage: 25.8+ MB

### Check if there are any biases in your dataset.

In [42]:
for c in df_train.columns:
    #print("column values: ",c)
    cardinality = len(np.unique(df_train[c]))
    #print(cardinality)

    if cardinality == 1:
        print(c)
        #df_train.drop(c, axis=1) 

        #df_test.drop(c, axis=1)

elimbasu5

In [43]:
df_train.drop("elimbasu5", axis=1, inplace=True) #dropped the column because the variance is equal to zero

#### elimbasu5 is biase in the training data set

In [46]:
for d in df_test.columns:
    #print("column values: ",c)
    cardinality = len(np.unique(df_test[d]))
    #print(cardinality)

    if cardinality == 1:
        print(d)
        #df_train.drop(c, axis=1) 

        #df_test.drop(c, axis=1)

In [47]:
df_test.drop("elimbasu5", axis=1, inplace=True) #dropped the column because the variance is equal to zero

In [48]:
temp = df_train.isnull().sum();

columns = df_train.columns
count = 0;
for i in range(len(temp)):
    if(temp[i] > 0):
        print(columns[i])
        count += 1;
        
if(count == 0):
    print("No null value found in any columns");

v2a1
v18q1
rez_esc
meaneduc
SQBmeaned

In [49]:
df_train.dropna(inplace=True)

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0000,121.00,289,4
6,ID_e9e0c1100,180000.0,0,5,0,1,1,1,1.0,0,...,4,64,16,121,4,1.777778,1.0000,121.00,64,4
75,ID_dd93e20ec,350000.0,0,6,0,1,1,1,3.0,0,...,100,289,9,256,1,1.000000,0.2500,272.25,289,4
130,ID_651377e3e,260000.0,0,5,0,1,1,1,3.0,1,...,1,49,16,100,4,4.000000,1.0000,90.25,49,4
133,ID_272bdf973,260000.0,0,5,0,1,1,1,3.0,1,...,36,169,16,100,4,4.000000,1.0000,90.25,169,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8991,ID_6edc54f34,100000.0,0,6,0,1,1,1,1.0,1,...,9,81,25,289,9,1.562500,2.2500,361.00,81,4
9037,ID_b7815bb34,150000.0,0,7,0,1,1,1,1.0,0,...,4,64,16,121,4,1.000000,1.0000,196.00,64,4
9039,ID_6019368cd,150000.0,0,7,0,1,1,1,1.0,0,...,100,256,16,121,4,1.000000,1.0000,196.00,256,4
9066,ID_cec76e220,40000.0,0,4,0,1,1,1,1.0,1,...,4,81,16,121,4,1.777778,1.0000,121.00,81,4
9213,ID_9750f0adc,100000.0,0,6,0,1,1,1,1.0,0,...,25,196,25,144,1,1.562500,0.0625,64.00,196,4

In [35]:
#df_train.drop(['v2a1','v18q1','rez_esc','meaneduc','SQBmeaned'], axis=1, inplace=True) # dropping null

In [50]:
df_train.isna().sum()

Id                    0
v2a1               6860
hacdor                0
rooms                 0
hacapo                0
                   ...
SQBovercrowding       0
SQBdependency         0
SQBmeaned             5
agesq                 0
Target                0
Length: 142, dtype: int64

In [11]:
df_train.isnull().sum()

Id                    0
v2a1               6860
hacdor                0
rooms                 0
hacapo                0
                   ...
SQBovercrowding       0
SQBdependency         0
SQBmeaned             5
agesq                 0
Target                0
Length: 143, dtype: int64

In [12]:
df_train.apply(lambda x: sum(x.isnull()))

Id                    0
v2a1               6860
hacdor                0
rooms                 0
hacapo                0
                   ...
SQBovercrowding       0
SQBdependency         0
SQBmeaned             5
agesq                 0
Target                0
Length: 143, dtype: int64

In [13]:
df_test.isnull().sum()

Id                     0
v2a1               17403
hacdor                 0
rooms                  0
hacapo                 0
                   ...
SQBhogar_nin           0
SQBovercrowding        0
SQBdependency          0
SQBmeaned             31
agesq                  0
Length: 142, dtype: int64

In [14]:
temp = df_test.isnull().sum();
columns = df_test.columns
count = 0;
for i in range(len(temp)):
    if(temp[i] > 0):
        print(columns[i])
        count += 1;
        
if(count == 0):
    print("No null value found in any columns");

v2a1
v18q1
rez_esc
meaneduc
SQBmeaned

In [15]:
df_train[df_train.duplicated()]

Empty DataFrame
Columns: [Id, v2a1, hacdor, rooms, hacapo, v14a, refrig, v18q, v18q1, r4h1, r4h2, r4h3, r4m1, r4m2, r4m3, r4t1, r4t2, r4t3, tamhog, tamviv, escolari, rez_esc, hhsize, paredblolad, paredzocalo, paredpreb, pareddes, paredmad, paredzinc, paredfibras, paredother, pisomoscer, pisocemento, pisoother, pisonatur, pisonotiene, pisomadera, techozinc, techoentrepiso, techocane, techootro, cielorazo, abastaguadentro, abastaguafuera, abastaguano, public, planpri, noelec, coopele, sanitario1, sanitario2, sanitario3, sanitario5, sanitario6, energcocinar1, energcocinar2, energcocinar3, energcocinar4, elimbasu1, elimbasu2, elimbasu3, elimbasu4, elimbasu5, elimbasu6, epared1, epared2, epared3, etecho1, etecho2, etecho3, eviv1, eviv2, eviv3, dis, male, female, estadocivil1, estadocivil2, estadocivil3, estadocivil4, estadocivil5, estadocivil6, estadocivil7, parentesco1, parentesco2, parentesco3, parentesco4, parentesco5, parentesco6, parentesco7, parentesco8, parentesco9, parentesco10, parentesco11, parentesco12, idhogar, hogar_nin, hogar_adul, hogar_mayor, hogar_total, ...]
Index: []

[0 rows x 143 columns]

In [16]:
df_test[df_test.duplicated()]

Empty DataFrame
Columns: [Id, v2a1, hacdor, rooms, hacapo, v14a, refrig, v18q, v18q1, r4h1, r4h2, r4h3, r4m1, r4m2, r4m3, r4t1, r4t2, r4t3, tamhog, tamviv, escolari, rez_esc, hhsize, paredblolad, paredzocalo, paredpreb, pareddes, paredmad, paredzinc, paredfibras, paredother, pisomoscer, pisocemento, pisoother, pisonatur, pisonotiene, pisomadera, techozinc, techoentrepiso, techocane, techootro, cielorazo, abastaguadentro, abastaguafuera, abastaguano, public, planpri, noelec, coopele, sanitario1, sanitario2, sanitario3, sanitario5, sanitario6, energcocinar1, energcocinar2, energcocinar3, energcocinar4, elimbasu1, elimbasu2, elimbasu3, elimbasu4, elimbasu5, elimbasu6, epared1, epared2, epared3, etecho1, etecho2, etecho3, eviv1, eviv2, eviv3, dis, male, female, estadocivil1, estadocivil2, estadocivil3, estadocivil4, estadocivil5, estadocivil6, estadocivil7, parentesco1, parentesco2, parentesco3, parentesco4, parentesco5, parentesco6, parentesco7, parentesco8, parentesco9, parentesco10, parentesco11, parentesco12, idhogar, hogar_nin, hogar_adul, hogar_mayor, hogar_total, ...]
Index: []

[0 rows x 142 columns]

In [28]:
#Filter categorical variables
categorical_columns = [x for x in df_train.dtypes.index if df_train.dtypes[x]=='object']
#Exclude ID cols:
categorical_columns = [x for x in categorical_columns if x not in ['Id','idhogar']]
#Print frequency of categories
for col in categorical_columns:
    print ('\nFrequency of Categories for varible %s'%col)
    print (df_train[col].value_counts())

Frequency of Categories for varible dependency
yes          2192
no           1747
.5           1497
2             730
1.5           713
.33333334     598
.66666669     487
8             378
.25           260
3             236
4             100
.75            98
.2             90
.40000001      84
1.3333334      84
2.5            77
5              24
1.25           18
3.5            18
.80000001      18
2.25           13
.71428573      12
1.75           11
1.2            11
.83333331      11
.22222222      11
.2857143        9
1.6666666       8
.60000002       8
6               7
.16666667       7
Name: dependency, dtype: int64

Frequency of Categories for varible edjefe
no     3762
6      1845
11      751
9       486
3       307
15      285
8       257
7       234
5       222
14      208
17      202
2       194
4       137
16      134
yes     123
12      113
10      111
13      103
21       43
18       19
19       14
20        7
Name: edjefe, dtype: int64

Frequency of Categories for varible edjefa
no     6230
6       947
11      399
9       237
8       217
15      188
7       179
5       176
3       152
4       136
14      120
16      113
10       96
2        84
17       76
12       72
yes      69
13       52
21        5
19        4
18        3
20        2
Name: edjefa, dtype: int64

In [22]:
df_train[['idhogar']]

        idhogar
0     21eb7fcc1
1     0e5d7a658
2     2c7317ea8
3     2b58d945f
4     2b58d945f
...         ...
9552  d6c086aa3
9553  d6c086aa3
9554  d6c086aa3
9555  d6c086aa3
9556  d6c086aa3

[9557 rows x 1 columns]

In [24]:
df_train[['dependency']]

     dependency
0            no
1             8
2             8
3           yes
4           yes
...         ...
9552        .25
9553        .25
9554        .25
9555        .25
9556        .25

[9557 rows x 1 columns]

In [20]:
df_test.describe()

,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,r4h2,...,age,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq
count,6.453000e+03,23856.000000,23856.000000,23856.000000,23856.000000,23856.000000,23856.000000,5730.000000,23856.000000,23856.000000,...,23856.000000,23856.00000,23856.000000,23856.000000,23856.000000,23856.000000,23856.000000,23856.000000,23825.000000,23856.000000
mean,1.748726e+05,0.050679,4.955776,0.028421,0.992748,0.961603,0.240191,1.348517,0.416541,1.563967,...,34.454183,74.44974,1657.798080,19.113389,54.087232,3.885480,3.564751,4.171669,100.509220,1657.798080
std,1.567887e+05,0.219346,1.539753,0.166174,0.084850,0.192157,0.427208,0.694216,0.713255,0.990171,...,21.696245,76.99701,1753.603406,17.314597,77.312255,6.878967,6.668757,13.105989,89.211063,1753.603406
min,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.020408,0.000000,0.000000,0.000000
25%,8.000000e+04,0.000000,4.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,16.000000,16.00000,256.000000,9.000000,0.000000,0.000000,1.000000,0.111111,36.000000,256.000000
50%,1.400000e+05,0.000000,5.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,32.000000,36.00000,1024.000000,16.000000,36.000000,1.000000,2.250000,0.444444,75.111115,1024.000000
75%,2.200000e+05,0.000000,6.000000,0.000000,1.000000,1.000000,0.000000,1.750000,1.000000,2.000000,...,51.000000,121.00000,2601.000000,25.000000,81.000000,4.000000,4.000000,1.777778,132.250000,2601.000000
max,2.852700e+06,1.000000,15.000000,1.000000,1.000000,1.000000,1.000000,6.000000,6.000000,7.000000,...,97.000000,441.00000,9409.000000,169.000000,441.000000,100.000000,169.000000,64.000000,1296.000000,9409.000000

In [25]:
df_train.dependency.unique()

array(['no', '8', 'yes', '3', '.5', '.25', '2', '.66666669', '.33333334',
       '1.5', '.40000001', '.75', '1.25', '.2', '2.5', '1.2', '4',
       '1.3333334', '2.25', '.22222222', '5', '.83333331', '.80000001',
       '6', '3.5', '1.6666666', '.2857143', '1.75', '.71428573',
       '.16666667', '.60000002'], dtype=object)

#### elimbasu5 is biase in the test data set

In [10]:
 from sklearn.preprocessing import StandardScaler

In [11]:
# Initialise the Scaler
scaler = StandardScaler()
 
# To scale data
scaler.fit(df_train)
scaler.fit(df_test)

ValueError: could not convert string to float: 'ID_279628684'

## Check whether all members of the house have the same poverty level.

#idhogar is unique identifiere for each house hold. Hence for house hold level analysis this feature will be consider

1 Extreme poverty
2 moderate poverty
3 vunarable house hold
4 non vunerable house hold

In [26]:
# house holde with same poverty level
poverty_equal = df_train.groupby('idhogar')['Target'].apply(lambda X:X.unique()==1)

# house holde with unequal poverty level
poverty_unequal = poverty_equal[poverty_equal!=True]

print("The household where all the family members of the house do not have same poverty level", len(poverty_unequal))

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()